html {
  overflow: hidden;
}
body,
html {
  background-color: var(--accent-4);
  --bg: var(--accent-4);
}

nav {
  background-color: var(--footer);
  height: 80px;
  width: 100vw;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: stretch;
}
.nav-item {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  pointer-events: all;
  cursor: pointer;
}
.nav-item > * {
  height: 25px;
  width: 25px;
  pointer-events: none;
  position: absolute;
}
.icon-alt,
.icon-primary {
  transition: opacity 0.25s ease-in-out;
  opacity: 1;
}
.icon-alt {
  opacity: 0.5;
}
.nav-item.active .icon-alt,
.nav-item:not(.active) .icon-primary {
  opacity: 0 !important;
}
#content {
  height: 100vh;
  box-sizing: border-box;
  padding-bottom: 80px;
  overflow: hidden;
}
#carousel {
  position: relative;
  height: 100%;
  width: 300vw;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  transition: left 0.25s ease-in-out;
}
.carousel-page {
  width: 100vw;
  height: 100%;
  box-sizing: border-box;
  padding: 30px;
  overflow-y: auto;
}
#carousel,
.carousel-page {
  flex-shrink: 0;
}
#fade-bars {
  display: none;
}
@media (min-width: 600px) {
  nav {
    width: 500px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px 20px 0 0;
  }
  #daily-task-section {
    padding-bottom: 40px;
    margin-bottom: -20px;
  }
}
@media (min-width: 500px) {
  .carousel-page {
    width: 500px;
  }
  #carousel {
    width: calc(3 * 500px);
  }
  [style="left: -200vw;"] {
    left: calc(-2 * 500px) !important;
  }
  [style="left: -100vw;"] {
    left: calc(-1 * 500px) !important;
  }
  [style="left: 0vw;"] {
    left: calc(0 * 500px) !important;
  }
  #content {
    overflow: visible;
  }
  #fade-bars {
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    align-items: stretch;
    pointer-events: none;
    user-select: none;
    position: fixed;
    z-index: 99;
    width: calc(500px + 60px + 10px);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
  .fade-spacer {
    width: 500px;
    flex-shrink: 0;
    flex-grow: 0;
  }
  .fade-bar {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 30px;
    height: 100vh;
    width: 30px;
  }
  .fade-left {
    margin-left: -1px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, var(--bg) 100%);
  }
  .fade-right {
    margin-right: -1px;
    background: linear-gradient(90deg, var(--bg) 0%, rgba(255, 255, 255, 0) 100%);
  }
  .fade-bar-solid {
    background-color: var(--bg);
    flex-grow: 1;
    flex-basis: 0;
  }
  .fade-spacer {
    flex-basis: 500px;
    flex-grow: 0;
    flex-shrink: 0;
  }
}

.raised-section {
  max-height: calc(100vh - 80px - 30px - 25px);
}
#daily-task-section {
  max-height: calc(100vh - 80px - 30px - 25px - 40px);
}
#content:not([data-page="home"]) #home #raised-content {
  transform: translate(-50%, calc(100% + 20px)) !important;
}
#progress-percentage {
  justify-content: space-between;
  margin-top: 10px;
}
#progress-bar {
  min-width: 10px;
  height: 5px;
  background: var(--primary-bg);
  overflow: hidden;
  border-radius: 5px;
  transition: width 0.25s 0.25s ease-in-out;
}
#progress-bar-container {
  border-radius: 5px;
  width: 100%;
  height: 5px;
  margin: 10px 0 !important;
  background-color: var(--primary-bg-transparent);
}

#data-cards {
  display: flex;
  flex-flow: row wrap;
  width: calc(100% + (2 * 5px));
  margin: 20px -5px;
}
.data-card {
  background-color: var(--accent-2);
  border-radius: 10px;
  padding: 15px;
  margin: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  flex-grow: 1;
}
[data-role="datatype-icon"] {
  width: 17px;
  height: 17px;
  margin-right: 10px;
  background-color: var(--primary-bg);
  border-radius: 20px;
}
.data-card .header-large {
  margin-bottom: 15px;
}
#home-head-row {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
#home-logout,
#home-logout * {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

#home-logout * {
  pointer-events: none;
}
#carousel #add {
  padding: 30px;
}
#carousel #add .bottom-button,
#carousel #session .bottom-button {
  box-shadow: 0 0 15px var(--bg);
}
#carousel #add #cards,
#carousel #session #cards {
  margin-top: 40px;
}
#carousel #add #cards .card,
#carousel #session #cards .card {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--secondary-bg);
  margin: 15px 0;
}
.card-subtitle,
#progress-out-of {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--primary-bg);
  opacity: 0.5;
}
[data-role="task-info-title"],
[data-role="task-info-tag"],
[data-role="task-info-date"] {
  margin-top: 20px;
  font-size: 12px;
  height: 40px;
  width: 100%;
  padding-left: 20px;
  border: solid 1px;
  box-sizing: border-box;
  border-radius: 5px;
  border: solid 1px var(--primary-bg-half);
}
[data-role="task-info-date"] {
  padding-right: 10px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

input::placeholder,
select:invalid {
  color: var(--primary-bg-half) !important;
}
.radio-group {
  margin-top: 10px;
  padding: 10px;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  display: flex;
}
.radio-group input {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  cursor: pointer;
  pointer-events: all;
  user-select: none;
}
.radio-group label {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 800;
  opacity: 0.5;
  transition: opacity 0.15s ease-in-out, background-color 0.15s ease-in-out;
  color: var(--primary-bg);
  flex-grow: 1;
  padding: 10px;
  text-align: center;
  /*placeholder*/
}
.radio-group label:nth-last-of-type(2) {
  margin: 0 10px;
}
.radio-group input:checked + label {
  opacity: 1;
  background-color: var(--accent-2);
  border-radius: 10px;
}
@media (min-width: 500px) {
  ::-webkit-scrollbar-track {
    opacity: 0 !important;
    background: var(--bg);
    display: none !important;
    width: 16px;
    height: 16px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 16px;
    background: var(--scrollbar-transparent);
    border: solid 4px var(--bg);
  }
  ::-webkit-scrollbar {
    width: 16px !important;
    height: 16px !important;
  }
  ::-webkit-scrollbar-corner {
    opacity: 0;
    background: transparent;
  }
}
.page-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#todo-container {
  background-color: var(--bg);
  padding: 20px;
  border-radius: 5px;
  margin: 10px -10px -10px -10px;
  width: calc(100% - 20px);
  max-height: 100px;
  text-align: center;
  overflow-y: auto;
}
#todo-container:empty:before {
  content: "No Tasks Yet";
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  width: 100%;
  opacity: 0.25;
}
#todo-container:not(:empty) {
  padding-bottom: 10px;
}
.carousel-page:not(.active) {
  overflow-y: hidden !important;
}
#raised-content {
  z-index: 100;
}
.task-card {
  border-radius: 15px;
  overflow: hidden;
  padding: 0;
  box-sizing: border-box;
  margin: 10px 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: flex-start;
  max-height: 110px;
  height: 110px;
  position: relative;
  transition: transform 0.5s ease-out, opacity 0.25s ease-out, height 0.25s ease-out, margin 0.25s ease-out;
  transform-origin: left center;
}
.task-card.swipe-out {
  transform: scale(0);
  opacity: 0;
  margin: 0;
  height: 0;
}
.task-card.swipe-out:only-child,
.task-card.swipe-out:last-child {
  height: 110px;
}

.task-card-content {
  position: relative;
  background-color: var(--task-bg);
  padding: 10px;
  box-sizing: border-box;
  border-radius: 15px;
  display: flex;
  align-items: stretch;
  display: flex;
  flex-flow: row;
  overflow: hidden;
  width: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  margin-left: 0;
  transition: margin-left 0.15s ease-out, background-color 0.15s ease-out;
  z-index: 1;
}
iframe.task-card-content,
.iframe-content.task-card-content {
  padding: 0 !important;
}
.task-card.editing > .task-card-content {
  margin-left: -150px;
}
.task-card-widgets {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 90px;
  width: 40px;
  z-index: 10;
}
.task-card-content > hr {
  margin: auto 10px;
  border: none;
  background-color: var(--handle);
  width: 3px;
  height: 70px;
  border-radius: 10px;
  flex-shrink: 0;
  flex-grow: 0;
}
.task-card-widgets > div {
  display: flex;
  justify-content: space-between;
  text-align: left;
  align-items: center;
  cursor: pointer;
  flex-grow: 0;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 7px;
  white-space: nowrap;
  text-overflow: clip;
  transition: width 0.15s ease-in-out, box-shadow 0.15s ease-in-out, transform 0.15s ease-in-out;
  transform-origin: 20px center;
}
.task-card-widgets > div:hover {
  width: 150px;
  box-shadow: 0 0 10px var(--primary-bg-transparent);
  transform: scale(1.1);
}
.task-card-time-widget {
  background-color: var(--task-info-1);
}
.task-card-date-widget {
  background-color: var(--task-info-2);
}
.task-card-widget-icon {
  margin-right: 10px;
  mix-blend-mode: darken;
  opacity: 0.5;
  width: 20px;
  height: 20px;
  pointer-events: none;
  user-select: none;
}
.task-card-action {
  cursor: pointer;
}
.task-card-info {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  height: 100%;
  pointer-events: none;
}
.task-card .task-card-title {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: var(--primary-bg);
  margin: 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
.task-card.completed:not(.completed):not(.editing) .task-card-title {
  /* for title hover */
  pointer-events: all;
  cursor: help;
}
.task-card-tag {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: var(--primary-bg-half);
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.task-card-action {
  opacity: 0;
  position: relative;
  transform: translate(calc(100% + 10px), calc(100% + 10px));
  width: 40px;
  height: 40px;
  margin-left: -40px;
  margin-top: auto;
  /* margin-right: -10px;
  margin-bottom: -10px; */
  box-sizing: border-box;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--task-action);
  border-radius: 10px;
  flex-shrink: 0;
  flex-grow: 0;
}
.iframe-content .task-card-action {
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: -50px;
  box-shadow: 0 0 10px var(--primary-bg-transparent);
}
.task-card-action * {
  pointer-events: none;
  user-select: none;
  width: 24px;
  height: 24px;
  position: absolute;
  transition: opacity 0.15s ease-in-out;
}
.task-card:hover .task-card-action,
.task-card:active .task-card-action,
.task-card:focus .task-card-action,
.task-card.editing .task-card-action {
  opacity: 1;
  transform: none;
}
.task-card.editing .task-card-action {
  box-shadow: 0 0 10px var(--primary-bg-transparent);
  background-color: var(--task-action-alt);
}

.task-card-action .editing-icon {
  opacity: 0;
}
.task-card-action .edit-icon {
  opacity: 1;
}
.task-card.editing .task-card-action .editing-icon {
  opacity: 1;
}
.task-card.editing .task-card-action .edit-icon {
  opacity: 0;
}
.task-card-swipe {
  width: 60px;
  /* width: 150px; */
  padding-left: 15px;
  margin-left: -15px;
  flex-shrink: 0;
  flex-grow: 0;
  transition: width 0.15s ease-in-out, transform 0.15s ease-out;
  background-color: #ffffff4d;
  display: flex;
  flex-flow: row nowrap;
  z-index: 0;
  transform-origin: left center;
  /* transform: scaleX(0.1); */
}
.task-card.editing .task-card-swipe {
  transform: none;
  width: 150px;
}
.task-card-swipe > * {
  width: 50%;
  margin-left: -15px;
  padding-left: 15px;
  border-radius: 0 15px 15px 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-grow: 0;
  flex-shrink: 0;
  cursor: pointer;
}
.task-card-swipe-pin {
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-card-swipe-icon,
.task-card-pin-icon {
  opacity: 0.3;
  width: 30px;
  height: 30px;
  pointer-events: none;
  user-select: none;
  transition: opacity 0.15s ease-out;
}
.task-card:not(.editing) .task-card-swipe-icon {
  opacity: 0;
}
/* .task-card:not(.pinning) .task-card-pin-icon {
  opacity: 0;
} */
@keyframes showpin {
  0% {
    margin-right: -75px;
    width: 60px;
  }
  50% {
    margin-right: -15px;
    width: 80px;
  }
  70% {
    margin-right: -15px;
    width: 80px;
  }
  100% {
    margin-right: -75px;
    width: 60px;
  }
}
.task-card-swipe-pin {
  background-color: var(--task-pin);
  width: 60px;
  padding-right: 15px;
  margin-right: -75px;
  flex-shrink: 0;
  flex-grow: 0;
  box-sizing: content-box;
}
.task-card.pinning .task-card-swipe-pin {
  animation: showpin 0.75s ease;
}
.task-card-swipe-archive {
  background-color: var(--task-archive);
  z-index: 1;
}
.task-card-swipe-done {
  background-color: var(--task-done);
  z-index: 2;
}
[data-role="tasks-list"] {
  overflow-y: auto;
  height: 10px;
  flex-grow: 1;
  padding: 20px 0;
}
#home.carousel-page {
  display: flex;
  flex-flow: column;
}
.list-fade {
  width: 100%;
  height: 22px;
  position: relative;
  z-index: 99;
}

.fade-up {
  margin-top: -20px;
  background: linear-gradient(0deg, var(--bg) 0%, rgba(255, 255, 255, 0) 100%);
}
.fade-down {
  margin-bottom: -20px;
  background: linear-gradient(180deg, var(--bg) 0%, rgba(255, 255, 255, 0) 100%);
}
[data-role="clear-completed"],
.DATA-clear-completed-tasks,
#card-completed,
#card-time {
  cursor: pointer !important;
  user-select: none;
  pointer-events: all;
}
[data-role="clear-completed"] *,
.DATA-clear-completed-tasks *,
#card-completed * {
  pointer-events: none;
  user-select: none;
}
.task-section-header {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: var(--primary-bg);
  margin: 0 auto 10px auto;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0.75;
  width: fit-content;
}
[data-role="tasks-list"] .task-section-header:not(:first-child) {
  margin-top: 10px;
  margin-bottom: -5px;
}
.task-section-header[data-date="Pinned"] {
  background-image: url(../img/icon/interface/pin-icon.png);
  background-image: url(../img/icon/interface/pin-icon.svg);
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
  padding: 0 34px;
  /* padding-right: 0; */
}
@keyframes task-section-header-pulse {
  0% {
    opacity: 0.75;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.75;
  }
}
.task-section-header {
  pointer-events: all;
  user-select: none;
}
.task-section-header[data-date="Pinned"]:hover {
  animation: task-section-header-pulse 2s infinite;
}
/* animate iframe height in when it loads*/
@keyframes iframe-height-in {
  0% {
    transform-origin: top center;
    transform: scaleY(0);
    opacity: 0;
    margin-bottom: -100px;
  }
  100% {
    transform-origin: top center;
    transform: scaleY(1);
    opacity: 1;
    margin-bottom: 10px;
  }
}
.task-iframe-card {
  overflow: hidden;
  animation: iframe-height-in 0.5s ease-in-out;
}

.task-card.pinned .task-card-pin-icon.alt-icon,
.task-card:not(.pinned) .task-card-pin-icon:not(.alt-icon) {
  display: flex;
}
.task-card:not(.pinned) .task-card-pin-icon.alt-icon,
.task-card.pinned .task-card-pin-icon:not(.alt-icon) {
  display: none;
}
.session-task-card {
  background-color: var(--secondary-bg);
  border-radius: 50px;
  height: 30px;
  padding: 5px;
  margin: 0 0 10px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.session-task-card-title {
  font-family: "Montserrat", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-basis: 30px;
  flex-shrink: 1;
  flex-grow: 1;
  padding-left: 10px;
  padding-right: 5px;
  text-align: left;
}
.session-task-card * {
  pointer-events: none;
  user-select: none;
}
.session-task-card::before {
  content: "";
  background-color: var(--accent-4);
  background-image: url(../img/icon/login/check-alt.svg);
  background-size: 24px;
  background-repeat: none;
  background-position: center center;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  z-index: 2;
  flex-grow: 0;
  flex-shrink: 0;
}
.session-task-card.checked::before {
  background-color: var(--accent-1);
  background-image: url(../img/icon/login/check.svg);
  background-size: 28px;
}
[data-role="tasks-list"] {
  transition-delay: 0.25s;
  transition-duration: 0.5s;
  transition-property: transform, top, left, position, width, height, max-width, max-height;
}
@keyframes raise-index {
  75% {
    z-index: 0;
    opacity: 0;
  }
  100% {
    z-index: 10000;
    opacity: 1;
  }
}
body.full-width-list #raised-content,
body.full-width-list nav {
  z-index: 1000000;
}
body.full-width-list #content[data-page="home"] [data-role="tasks-list"] {
  flex-flow: row nowrap;
  display: flex;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: fit-content;
  padding: 90px 30px;
  box-sizing: border-box;
  overflow: auto;
  max-width: 100vw;
  max-height: 100vh;
  width: fit-content;
  flex-grow: 0;
  z-index: 0;
  animation: raise-index 0.75s ease-in-out forwards;
}
body.full-width-list .task-section {
  padding: 0 10px;
  box-sizing: border-box;
  width: 400px !important;
  flex-shrink: 0;
  flex-grow: 0;
}
.task-card.completed > .task-card-content {
  position: relative;
  background-color: #e0ead7;
}
.task-card.completed .task-card-action {
  filter: none !important;
  z-index: 20 !important;
  opacity: 1 !important;
}
.task-card.completed > .task-card-content::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "\2705";
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 600;
  box-sizing: border-box;
  padding: 10px;
  top: 0;
  left: 0;
}
.task-card.completed > .task-card-content > * {
  opacity: 0.25;
  filter: blur(2px);
}
.task-card.completed .task-card-swipe-done {
  display: none;
}
.task-card.editing.completed > .task-card-content {
  margin-left: -75px;
}
body.full-width-list .time-section-break {
  display: none;
}
body:not(.full-width-list) .time-section-break {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  height: 80px;
  background-image: url(../img/art/nothing.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* full width stuff */
@media (min-width: 1040px) {
  body.full-width-list > nav {
    left: 0;
    transform: none;
    border-top-left-radius: 0;
  }

  body.full-width-list #raised-content {
    transform: none !important;
    margin: 0 !important;
    margin-left: calc(50% - 500px) !important;
    bottom: 0 !important;
  }
  body.full-width-list #raised-content .raised-section {
    border-top-right-radius: 0 !important;
  }
  body.full-width-list #raised-content:not(.raised) {
    transform: translateY(calc(100% - 25px)) !important;
  }
  body.full-width-list #content:not([data-page="home"]) #home #raised-content {
    transform: translateY(calc(100% - 25px)) !important;
  }
  body.full-width-list #raised-content:not(.raised):hover {
    transform: translateY(calc(100% - 35px)) !important;
  }
  body.full-width-list #content:not([data-page="home"]) #home #raised-content:not(.raised):hover {
    transform: translateY(calc(100% - 35px)) !important;
  }
  body.full-width-list #content:not([data-page="home"]) #home #raised-content.raised:hover {
    transform: none !important;
  }
}
[data-role="tasks-list"] > .time-section-break:first-child {
  display: none;
}
/* body.full-width-list [data-role="tasks-list"] {
}
body.full-width-list #home::before {
  content: "";
  position: fixed;
  right: 0;
  left: 0;
  height: calc(100% - 90px);
  width: 40px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, var(--bg) 75%);
} */
