@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,600;1,700&family=Roboto:wght@400;500;600;700&display=swap");

:root {
  --primary-bg: #2e271c;
  --primary-bg-transparent: #2f281d33;
  --primary-bg-half: #2f281d80;
  --secondary-bg: #fff;
  --on-primary-bg: #fff;
  --on-secondary-bg: #2e271c;
  --accent-1: #d4edbf;
  --accent-2: #ffe7ab;
  --accent-1-transparent: hsl(93, 56%, 94%);
  --accent-2-alt: #fffb9e;
  --accent-3: #f6cd64;
  --scrollbar-transparent: #2f281d33;
  --accent-4: #faf4f2;
  --accent-5: #ffc6ab;
  --handle: #0000001a;
  /*login*/
  --login-box-bg: #ffffff0a;
  --login-secondary: #c2c2c2a4;
  --login-accent: var(--accent-1);
  --login-accent-2: var(--accent-3);
  /*more login*/
  --text-primary: #c9c9c9;
  --text-primary-autofill: #84b25e;
  /*app*/
  --footer: #fff;
  /*toast*/
  --toast-bg: #edebe4;
  --toast-bg-transparent: #edebe4aa;
  --toast-text: #474743;
  --toast-border: hsl(0, 0%, 78%);
  --toast-secondary: hsl(0, 0%, 90%);
  /*popup*/
  --primary: #658023;
  --primary-container: #dde7bf;
  --on-primary: #ffffff;
  --on-primary-container: #001f26;
  --popup-bg: #edebe4;
  --on-popup-bg: #474743;
  --popup-red: #93000a;
  /*tasks*/
  --task-bg: var(--secondary-bg);
  --task-action: #ffe7ab;
  --task-action-alt: #ffc6ab;
  --task-info-1: #bfedeb;
  --task-info-2: #d4edbf;
  --task-archive: #bfcfed;
  --task-done: #d4edbf;
  --task-pin: #d6bfed;
}
body,
html {
  box-sizing: border-box;
  height: 100%;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: "Lato", "Montserrat", "Open Sans", sans-serif;
  font-size: 14px;
  color: #333;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  overscroll-behavior-y: contain;
}
button:not(.popup-button) {
  border: none;
  background: var(--primary-bg);
  color: var(--on-primary-bg);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  padding: 10px 20px;
  box-sizing: border-box;
  margin: 0;
  height: 50px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  pointer-events: all;
}
.handle {
  height: 5px;
  border-radius: 5px;
  width: 95px;
  background-color: var(--handle);
  border: none;
  margin: 0;
  pointer-events: none;
}
.handle-container {
  border-radius: 25px;
  padding: 10px;
  margin: 0 auto;
  width: 95px;
  box-sizing: content-box;
  pointer-events: all;
}
#raised-content {
  position: fixed;
  bottom: 0;
  left: 50%;
  animation: raise-centered 0.5s ease-out forwards;
  pointer-events: none;
}
#raised-content.raised .raised-section {
  box-shadow: 0 0 30px var(--primary-bg-transparent);
}
.raised-section {
  background: var(--secondary-bg);
  padding: 30px;
  border-radius: 50px 50px 0 0;
  width: 100vw;
  min-height: 200px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: space-between;
  pointer-events: all;
  transition: box-shadow 0.5s ease-out;
}
.raised-controls {
  position: fixed;
  top: 0px;
  opacity: 0;
  animation: fadein 0.5s 0.25s ease-out forwards;
  padding: 25px;
  padding-bottom: 0;
  height: 85px !important;
  box-sizing: border-box;
  width: 100vw;
  display: flex !important;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  /* pointer-events: none; */
  z-index: 10;
}
.raised-controls > * {
  height: 60px;
  width: fit-content;
  min-width: 40px;
  box-sizing: border-box;
  padding: 20px;
  cursor: pointer;
  pointer-events: all !important;
  z-index: 100000;
}
.raised-controls > * > * {
  pointer-events: none;
}
@keyframes raise {
  0% {
    transform: translateY(calc(100% + 20px));
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes raise-centered {
  0% {
    transform: translate(-50%, calc(100% + 20px));
  }
  100% {
    transform: translate(-50%, 0);
  }
}

@keyframes raise-centered-reversed {
  0% {
    transform: translate(-50%, 0);
  }
  100% {
    transform: translate(-50%, calc(100% + 20px));
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header-text {
  font-size: 26px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.header-small {
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.header-large {
  font-size: 34px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.bottom-button {
  position: fixed;
  bottom: 30px;
  width: calc(100vw - 60px);
}
.pop-up {
  animation: raise 0.5s ease-out forwards;
}
#button-spacer {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0);
  margin: 0;
  width: 0;
  height: 50px;
  border: none;
  pointer-events: none;
}

.fill-width {
  width: 100%;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-grow {
  flex-grow: 1;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}
.flex-break {
  width: 100%;
  flex-shrink: 0;
  opacity: 0;
  height: 0px;
  border: none;
  margin: 0;
}
input::placeholder {
  opacity: 0.25 !important;
}
body,
#raised-controls,
#raised-content {
  max-width: 500px;
  margin: 0 auto;
}
.bottom-button {
  max-width: calc(500px - 60px);
}
.raised-section {
  max-width: 500px;
  overflow-y: auto;
}
input[type="text"] {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#submit-spotify-link {
  background-color: var(--accent-1);
  width: 40px;
  height: 40px;
  border-radius: 5px;
  aspect-ratio: 1 / 1;
  box-sizing: border-box;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  user-select: none;
  cursor: pointer;
}

#raised-content.raise-class {
  transition: transform 0.25s ease-in-out;
}
#raised-content.raise-class:not(.raised) {
  transform: translate(-50%, calc(100% - 25px)) !important;
}
.raised {
  transform: translate(-50%, 0) !important;
}

#raised-content.raise-class .handle-container {
  cursor: pointer;
}
#raised-content.raise-class {
  transition: transform 0.25s ease-in-out !important;
  animation: none !important;
}
#raised-content.raise-class {
  left: 50%;
}
#raised-content.raised {
  transform: translate(-50%, 0) !important;
  /* animation: raise-centered 0.5s ease-in-out; */
}
button:not(.popup-button) {
  transition: opacity 0.25s ease-in-out;
}
button[disabled],
button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
