@media print {
  [noprint],
  [noprint] *,
  .toast {
    display: none !important;
  }
}
[notouch] {
  pointer-events: none !important;
  user-select: none !important;
}
input[type="button"],
[auth="logout-button"],
[onclick],
a[href],
*[form-action],
button {
  cursor: pointer;
  user-select: none;
}

/** FROM UTIL.JS **/
/** TOAST **/

.toast {
  z-index: 100000001;
  pointer-events: none;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 20px 0;
  width: calc(100% - 40px);
  font-size: 18px;
  font-family: "Next", sans-serif;
  display: flex;
  box-sizing: border-box;
  animation: slideIn 0.5s forwards;
  max-width: calc(500px - 32px - 40px);
}
.toast.boxed {
  background-color: var(--box-bg);
  border: solid 2px var(--box-border);
  color: var(--box-border);
  border-radius: 11px;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.toast.default,
.toast.transparent {
  background-color: var(--toast-bg);
  color: var(--toast-text);
  border-radius: 20px;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: "Nunito", sans-serif !important;
  padding: 15px;
  font-size: 16px;
  font-weight: 400;
}
.toast.transparent {
  background-color: var(--toast-bg-transparent);
}
.toast-icon {
  height: 25px;
  align-self: center;
  margin-right: 15px;
}
.toast-overlay,
.popup-overlay {
  z-index: 262142;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.5;
  animation: fadeIn 0.25s forwards infinite;
}
@keyframes slideIn {
  from {
    transform: translateX(-50%) translateY(100%);
  }
  to {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}
@keyframes slideOut {
  from {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
  to {
    transform: translateX(-50%) translateY(100%);
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0 !important;
  }
  to {
    opacity: 0.5 !important;
  }
}
@media (min-width: 500px) {
  @keyframes slideIn {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  @keyframes slideOut {
    from {
      transform: translateY(0%);
      opacity: 1;
    }
    to {
      transform: translateY(100%);
      opacity: 0;
    }
  }
  .toast {
    margin: 20px;
    right: 0;
    width: calc(100% - 40px);
    transform: none;
    left: unset;
  }
}

/** POPUP **/

/* scale and fade in with slight bounce */
@keyframes popupin {
  0% {
    transform: translateX(-50%) translateY(-50%) scale(0.9);
    opacity: 0;
  }

  50% {
    transform: translateX(-50%) translateY(-50%) scale(1.1);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) scale(1);
    opacity: 1;
  }
}
@keyframes popupout {
  0% {
    transform: translateX(-50%) translateY(-50%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateX(-50%) translateY(-50%) scale(1.1);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    opacity: 0;
  }
}
.popup {
  width: calc(100% - 40px);
  z-index: 262143;
  border-radius: 30px;
  /* margin: 20px; */
  padding: 15px;
  box-sizing: border-box;
  background-color: var(--popup-bg);
  color: var(--on-popup-bg);
  position: fixed;
  display: flex;
  flex-flow: column;
  top: 50%;
  left: 50%;
  max-width: 400px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%);
  animation: popupin 0.25s;
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    pointer-events: none !important;
  }
}

/* POPUP */

#popup-buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  font-weight: 600 !important;
  margin-top: 10px;
}
#popup-buttons button:not(.popup-divider) {
  flex-grow: 0;
  margin: 5px;
  flex-basis: fit-content;
}
.popup-button:not(.popup-divider) {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  box-sizing: border-box;
  border-radius: 40px;
  border: solid 1.5px rgba(255, 255, 255, 0);
  padding: 5px 15px;
}
.popup-divider {
  border: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  height: 1px;
}

.primary-action {
  background-color: var(--primary);
  color: var(--popup-bg);
}
.secondary-action {
  border-color: var(--primary) !important;
  background-color: var(--popup-bg);
  color: var(--on-popup-bg);
}
.delete-container .secondary-action {
  border-color: var(--on-popup-bg);
}
.popup-button.delete-color.secondary-action {
  color: var(--popup-red) !important;
  border-color: var(--popup-red) !important;
}
.popup-button.delete-color.primary-action {
  background-color: var(--popup-red) !important;
  color: var(--popup-bg) !important;
}
.popup-text {
  margin-bottom: 10px;
  font-size: 18px;
  padding: 10px;
  opacity: 0.8;
  height: fit-content;
}
.popup-title {
  font-size: 28px;
  padding: 10px;
}
.popup-icon + .popup-title {
  text-align: center;
}
.popup-icon {
  margin: 0 auto;
  flex-grow: 0;
  justify-self: start;
  height: fit-content;
  height: 40px;
  width: 40px;
}
.popup-top-bar {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-between;
}

/** ANIMATION **/

/* Keyframes */
@keyframes fadeZoomIn {
  from {
    opacity: 0;
    transform: scale(0.25);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fadeZoomOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.25);
    pointer-events: none;
  }
}
@keyframes expandFromTop {
  from {
    transform: scale(0.25);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes collapseToTop {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.25);
    opacity: 0;
  }
}

/* Classes */
.collapsible:not(.collapsed) {
  animation: expandFromTop 0.15s ease-out forwards;
}
.collapsible.collapsed {
  animation: collapseToTop 0.15s ease-out forwards;
}
.fadein {
  animation: fadein 0.15s ease-out forwards !important;
}
.fadezoomin {
  animation: fadeZoomIn 0.15s ease-out forwards !important;
}
.fadeout {
  animation: fadeout 0.15s ease-out forwards !important;
  pointer-events: none !important;
}
.fadezoomout {
  animation: fadeZoomOut 0.15s ease-out forwards !important;
  pointer-events: none !important;
}
